.bold {
    font-weight: bold;
}

.text-colored {
    color: rgb(221, 221, 33);
    font-weight: 700;
}

.text-colored1 {
    color: rgb(120, 240, 101);
    font-weight: bold;
}

.text-colored2 {
    color: rgb(241, 86, 86);
}

.text-coloredbtn {
    color: #000;
    background-color: rgb(243, 56, 56); 
}

header {
    background-color: #c2c0c0;
    padding: 30px 0;
}

.col-md-7 img {
    max-width: 100%;
    height: auto;
}

#conteudo {
    margin-top: 30px;
}

.col-md-4 {
    margin-top: 30px;
}

.text-fs {
    font-size: 18px;
}

.col-md-4 textarea {
    resize: none;
}